@import url("https://fonts.cdnfonts.com/css/cocogoose");
@import url("https://fonts.cdnfonts.com/css/Lato");
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

:root {
  --color: rgb(20 11 11 / 69%);
  --padding: 20px 30px;
  --congo-font: 'cocogoose', sans-serif;
  --lato-font: 'Lato', sans-serif;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  font-family: var(--lato-font);
  font-size: 1rem;
  font-style: normal;
  font-weight: normal;
  color: var(--color);
}

header {
  padding: var(--padding);
  background-color: white;
  position: fixed;
  width: 100vw;
}

section > h1 {
  text-align: center;
  font-size: larger;
  font-weight: 600;
  font-family: var(--congo-font);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--color);
}

body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background-color: aliceblue;
}

.main-cont {
  display: flex;
  flex-direction: column;
  width: 100vw;
  justify-content: center;
  height: 100%;
  margin: auto;
  padding-top: 80px;
  padding-bottom: 30px;
  align-content: center;
}

.main-cont > ul {
  align-self: center;
  width: 75%;
  background-color: white;
  z-index: 2;
}

label > h4 {
  display: inline;
  margin-left: 10px;
}

.active-li {
  background-color: rgb(192, 162, 27);
}

form {
  display: flex;
  width: 100vw;
  padding: var(--padding);
  border-bottom: solid 1px var(--color);
}

form > input[type='text'] {
  border: none;
  flex: 2;
  outline: none;
  font-family: var(--lato-font);
  font-style: italic;
  font-weight: 500;
  background: transparent;
  color: var(--color);
}

.label-item-edit {
  display: flow-root;
  margin-left: 10px;
  width: 90%;
}

.label-item-edit > input[type='text'] {
  width: 100%;
  border: none;
  outline: none;
  font-family: var(--congo-font);
  font-style: italic;
  font-size: small;
  background: transparent;
  color: var(--color);
}

.list-header {
  display: flex;
  height: 60px;
  align-items: center;
  padding: var(--padding);
  border-bottom: solid 1px var(--color);
}

.list-header > h2 {
  flex: 2;
}

.list-header > a {
  float: right;
}

.todo-item {
  display: flow-root;
  padding: var(--padding);
  border-bottom: solid 1px var(--color);
}

.todo-item > label {
  float: left;
  cursor: pointer;
}

.todo-item > i {
  float: right;
  cursor: pointer;
}

.input-box {
  display: flex;
}

form > button {
  float: right;
  border: none;
  cursor: pointer;
}

form > input:placeholder-shown {
  font-style: italic;
}

.todo-item > input[type=checkbox] {
  float: left;
  position: initial;
  margin-top: 4px;
  cursor: pointer;
  background: transparent;
}

.reset-box {
  align-self: center;
  display: flex;
  justify-content: center;
  height: 67px;
  align-items: center;
  width: 75%;
  background-color: #e5e1de;
}

.reset-box > a {
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .main-cont > ul {
    align-self: center;
    width: 50%;
    background-color: white;
    z-index: 2;
  }

  .reset-box {
    align-self: center;
    display: flex;
    justify-content: center;
    height: 67px;
    align-items: center;
    width: 50%;
    background-color: #e5e1de;
  }
}
