@import url("https://fonts.cdnfonts.com/css/cocogoose");
@import url("https://fonts.cdnfonts.com/css/Lato");
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

:root {
  --color: rgb(20 11 11 / 69%);
  --padding: 20px 30px;
  --congo-font: 'cocogoose', sans-serif;
  --lato-font: 'Lato', sans-serif;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  font-family: var(--lato-font);
  font-size: 1rem;
  font-style: normal;
  font-weight: normal;
  color: var(--color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--color);
}

body {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  background-color: aliceblue;
}

.main-cont {
  display: flex;
  flex-direction: column;
  width: 100vw;
  justify-content: center;
  height: 100vh;
  align-content: center;
}

.main-cont > ul {
  align-self: center;
  width: 75%;
  background-color: white;
  z-index: 2;
}

label > h4 {
  display: inline;
  margin-left: 10px;
}

.list-header {
  display: flow-root;
  padding: var(--padding);
  border-bottom: solid 1px var(--color);
}

.list-header > h4 {
  float: left;
}

.list-header > a {
  float: right;
}

.todo-item {
  display: flow-root;
  padding: var(--padding);
  border-bottom: solid 1px var(--color);
}

.todo-item > label {
  float: left;
  cursor: pointer;
}

.todo-item > i {
  float: right;
  cursor: pointer;
}

.input-box {
  display: flex;
  padding: var(--padding);
  border-bottom: solid 1px var(--color);
}

.input-box > input {
  border: none;
  flex: 2;
  outline: none;
  font-style: italic;
  color: var(--color);
}

input:placeholder-shown {
  font-style: italic;
}

.reset-box {
  align-self: center;
  display: flex;
  justify-content: center;
  height: 67px;
  align-items: center;
  width: 50%;
  background-color: #e5e1de;
}

.reset-box > a {
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .main-cont > ul {
    align-self: center;
    width: 50%;
    background-color: white;
    z-index: 2;
  }
}
